<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DURATION Study.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>075C01677A99341C26CEBFD15CE82E8BFB55E553</string>
				<key>dateExpires</key>
				<string>2024/02/02</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>075C01677A99341C26CEBFD15CE82E8BFB55E553</string>
						<key>dateExpires</key>
						<string>2024/02/02</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>075C01677A99341C26CEBFD15CE82E8BFB55E553</string>
						<key>dateExpires</key>
						<string>2024/02/02</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FontAwesome_swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>075C01677A99341C26CEBFD15CE82E8BFB55E553</string>
						<key>dateExpires</key>
						<string>2024/02/02</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>13.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>075C01677A99341C26CEBFD15CE82E8BFB55E553</string>
						<key>dateExpires</key>
						<string>2024/02/02</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TouchDraw.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>85JQMF8YT8.kr.co.m2community.Sign</string>
				<key>com.apple.developer.team-identifier</key>
				<string>85JQMF8YT8</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>DURATION Study.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fec21b59-d8c4-4c71-bae5-1a83aad310c8</string>
				<key>dateExpires</key>
				<string>2024/09/22</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: kr.co.m2community.Sign</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>85JQMF8YT8</string>
				<key>name</key>
				<string>m2community.Co.Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
